*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(215, 210, 199);
/* background-color: yellow; */
}
main{
    width: 80%;
    height: 70%;
    margin: 10% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 222, 248);
}