*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
   background-color: rgb(150, 140, 140);
   
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
   
.game{
    width: 80%;
    height: 80%;
   background-color: #DFF6FF;
   position: relative;
   overflow: hidden;
}
.bird-img{
   
    height: 70px;
    padding: 10px 10px;
    position: absolute;
    object-fit: cover;
}
.pipe{
    width: 40px;
    
    background-color: green;
}